    
.detail-container
{
    display: flex;
    height:400px ;
    width: 50%;
    flex-direction: row;
    margin: auto;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.container-info
{
    display: flex;
    text-align: center;
    height: 300px;
    flex-direction: column;
}

.item-description
{
    font-size: 16px;
    height: 111px;
    width: 238px;

}

.cart-add
{
    background-color: yellow;
    
}