*
{
margin: 0;
padding: 0;
box-sizing: border-box;    
height: auto;
width: auto;
background-color: #FAFAFA;
;
}
.header 
{
display: flex;
justify-content: space-between;
flex-direction: row;
color: #3A4895;
padding: 0 30px 70px 30px;
}