button
{
    border: none;
    background-color: white;
    color: #5264C3;
    font-size: 20 px;
    margin: 10px;
}

.categories
{
    padding-left: 150px;
}

.grid-container
{
    display: grid;
}

.grid-item
{
    height: 248px;
    width: 183px;
}

.card-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 131px 0 131px;
}