*
{
    background-color: #FAFAFA;

}

button
{
    border: none;
    background-color: white;
    color: #5264C3;
    font-size: 20px;
    margin: 10px;
}

.categories
{
    padding-left: 150px;

}

.selector
{
    padding-right: 28px;
    text-decoration: none;
    color: #5264C3;
    font-weight: 400;
}

.grid-container
{
    display: grid;
}

.grid-item
{
    height: 248px;
    width: 183px;
}

.card-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 131px 0 131px;
}

.big-boy
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}