.foot-container
{
    height: 66px;
    width: 100%;
    background-color: #3A4895;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    position:fixed;
    bottom: 0; 
}

.foot-stuff
{
    color: white;
    text-decoration: none;
    background-color: #3A4895;
}

svg
{
    background-color: transparent;
}